version: '3.8'
services:
  mongo:
    image: mongo:8.2.3-noble
    container_name: PracticeExpress-MongoDB
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_PASS}
    volumes:
      - mongo_data:/data/db
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.adminCommand('ping')"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - practice-network

networks:
  practice-network:
    driver: bridge

volumes:
  mongo_data:
    
  